* {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display:block;
}

a {
	text-decoration: none;
}
html {
	background-color: #cccccc;
	background-image: url("../images/back1.jpg");
	background-attachment: fixed;

}

body {
	width: 80%;
	background-color: #ffffff60;
	margin:0 auto;
	font-family: 'Annie Use Your Telescope', cursive;
	max-width: 1430px;
}



header {
		height: 146px;
		background-image: url("../images/file0087.jpg");
		display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}
h1, h2 {
	font-family: 'Pacifico', cursive;
}

main {
	display:flex;
	flex-flow: row wrap;
	justify-content:space-evenly;
	margin-top: 10px;
	}


	figure {
		width: 33%;
	}

	figure img {
		width: 100%;
	}

	footer {
		width: 100%;
		background-color: #C14242;
	}
	footer p {
		width: 50%;
		margin: 0 auto;
		text-align: center;
		color: white;
		font-size: 1em;
		padding: 9px;
	}
.mainpagetext, section p,  .textblurbs p {
	font-family: 'Questrial', sans-serif;
}
.textblurbs p, .mieuxstories section p {
	line-height: 1.4em;
}
.container {
	width: 20%;
	height: 100px;
	background-color: white;
}
.desktop-menu ul	{
	width: 90%;
  display: flex;
  justify-content: space-evenly;
	}
.desktop-menu ul li	{
	font-size: 1.8rem;
}

.headerimage {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
.ml1{
	text-align: center;
  margin: 0 auto;
  font-size: 2.2rem;
/*  position: absolute; */
  width: 80%;
  background-color: rgba(193, 66, 66, 0.3);
  color: white;
}

.mieuxstories h4 {
	font-size: 1.5em;
}


	.mainpagetext {
		width: 100%;
		justify-content: space-evenly;
		flex-flow: row wrap;
	}
.mainpagetext div{
	width: 25%;
	margin:10px 0 20px 0;
	background-color: #c1424270;
	border-radius: 10px 10px 0 0;
		padding: 1%;
}

.mainpagetext div p{
	font-size: 1.5rem;
}




	/* -------- Hamburger CSS Code
							https://codepen.io/g13nn/pen/eHGEF  ------------- */

	.hamburger{
		background: none;
		    position: absolute;
		    top: 6px;
		    right: 0;
		    line-height: 35px;
		    padding: 5px 15px 0px 15px;
		    color: #ffffff;
		    border: 0;
		    font-size: 2.5em;
		    font-weight: bold;
		    cursor: pointer;
		    outline: none;
		    z-index: 10000000000000;
	}
	.cross{
	  background:none;
	  position:absolute;
	  top:0px;
	  right:0;
	  padding:7px 15px 0px 15px;
	  color:#999;
	  border:0;
	  font-size:3em;
	  line-height:65px;
	  font-weight:bold;
	  cursor:pointer;
	  outline:none;
	  z-index:10000000000000;
	}
	.menu{z-index:1000000; font-weight:bold; font-size:1.5rem; width:100%; background:#c14242;  position:absolute; text-align:center; font-size:1.2rem;}
	.menu ul {margin: 0 0 5px 0; padding: 0; list-style-type: none; list-style-image: none;}
	.menu li {display: block;   padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
	.menu li:hover{display: block;    background:#6766b3; padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
	.menu ul li a { text-decoration:none;  margin: 0px; color:#ffffff;}
	.menu ul li a:hover {  color: #c0bfff; text-decoration:none;}
	.menu a{text-decoration:none; color:#666;}
	.menu a:hover{text-decoration:none; color:#666;}

	.glyphicon-home{
	  color:white;
	  font-size:1.5em;
	  margin-top:5px;
	  margin:0 auto;
	}

	.edmisc {
		clear:both;
		width: 100%;
	}

	.desktop-menu a {
		transition: .5s;
		margin: auto;
		color:#fbdede87
		}

.mieuxmug {
	width: 100%;
    object-fit: cover;
    text-align: center;
		margin: 2px 0;
	}
.mieuxmug img {
	height: 12rem;
	    width: 12rem;
	    border-radius: 90px;
	    object-fit: cover;
			margin: 2px 0;
	    box-shadow: 0px 10px 10px black;
}
.mainpagetext h2, .mieuxfriends h2 {
	text-align: center;
	color: #6c3937;
	}

	.menu ul li:hover {
		background-color: black;
	}


	.mieuxfriends, .mainpagetext{
		display: flex;
				}

	.mieuxstories	{
		display: flex;
		align-items: stretch;
	}
	.mieuxstories section {
		flex-basis: 95%;
		display: flex;
		margin-bottom: 20px;
	}
	.mieuxstories section img {
		width: 20%;
		height: 20vh;
		object-fit: cover;
	}

	.desktop-menu a:hover    {
			font-size: 2rem;
			transition: .3s;
			transform: rotateZ(-1deg);
			/*letter-spacing:.05em;*/
			text-align: center;
			color: #ffffff;
			}
 .desktop-menu li:hover {
	   background-color: #9a3434;
		 text-align: center;
		 transition: 1.2s;
 }
.desktop-menu:hover {
		background-color: rgba(193, 66, 66, .5);
		transition: .2s;

}

/* ---- for ideas

	.work:hover {
		border-radius: 15px;
	  -webkit-box-shadow:0 15px 6px #00000A;
	  -ms-box-shadow:0 15px 6px #00000A;
	  -moz-box-shadow:0 15px 6px #00000A;
	  box-shadow: 0 15px 6px #00000A;
	  transition: .5s;
		filter: contrast(100%);
		filter: grayscale(0);
	}
*/


/* --------------------Ihover code --------------------------------- */

.ih-item.square.effect15 {
  overflow: hidden;
  -webkit-perspective: 900px;
  -moz-perspective: 900px;
  perspective: 900px;
}
.ih-item.square.effect15.colored .info {
  background: #1a4a72;
}
.ih-item.square.effect15 .img {
  opacity: 1;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.ih-item.square.effect15 .info {
  background: #333333;
  opacity: 0;
  -webkit-transition: all 0.35s ease-in-out 0.3s;
  -moz-transition: all 0.35s ease-in-out 0.3s;
  transition: all 0.35s ease-in-out 0.3s;
}
.ih-item.square.effect15 .info h3 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  font-size: 25px;
  padding: 10px;
  background: #111111;
  margin: 30px 0 0 0;
}
.ih-item.square.effect15 .info p {
  font-style: italic;
  font-size: 17px;
  position: relative;
  color: #bbb;
  padding: 20px 20px 20px;
  text-align: center;
}
.ih-item.square.effect15 a:hover .img {
  opacity: 0;
  visibility: hidden;
}
.ih-item.square.effect15 a:hover .info {
  visibility: visible;
  opacity: 1;
}

.ih-item.square.effect15.top_to_bottom .img {
  -webkit-transform: rotateX(0);
  -moz-transform: rotateX(0);
  -ms-transform: rotateX(0);
  -o-transform: rotateX(0);
  transform: rotateX(0);
  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}
.ih-item.square.effect15.top_to_bottom .info {
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  -ms-transform: rotateX(-90deg);
  -o-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  -o-transform-origin: 50% 0;
  transform-origin: 50% 0;
}
.ih-item.square.effect15.top_to_bottom a:hover .img {
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  -ms-transform: rotateX(90deg);
  -o-transform: rotateX(90deg);
  transform: rotateX(90deg);
}
.ih-item.square.effect15.top_to_bottom a:hover .info {
  -webkit-transform: rotateX(0);
  -moz-transform: rotateX(0);
  -ms-transform: rotateX(0);
  -o-transform: rotateX(0);
  transform: rotateX(0);
}

.ih-item.square.effect15.bottom_to_top .img {
  -webkit-transform: rotateX(0);
  -moz-transform: rotateX(0);
  -ms-transform: rotateX(0);
  -o-transform: rotateX(0);
  transform: rotateX(0);
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  -o-transform-origin: 50% 0;
  transform-origin: 50% 0;
}
.ih-item.square.effect15.bottom_to_top .info {
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  -ms-transform: rotateX(90deg);
  -o-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}
.ih-item.square.effect15.bottom_to_top a:hover .img {
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  -ms-transform: rotateX(-90deg);
  -o-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}
.ih-item.square.effect15.bottom_to_top a:hover .info {
  -webkit-transform: rotateX(0);
  -moz-transform: rotateX(0);
  -ms-transform: rotateX(0);
  -o-transform: rotateX(0);
  transform: rotateX(0);
}

.ih-item {
  position: relative;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.ih-item,
.ih-item * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.ih-item a {
  color: #333;
}
.ih-item a:hover {
  text-decoration: none;
}
.ih-item img {
  width: 100%;

}

.ih-item.square {
	margin: 0 0 1.2rem 0;
	/* position: relative; */
	width: 28%;
	height: 216px;
	/* border: 8px solid #fff; */
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
	background-color: #4c443b;
}
.ih-item.square .info {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}



/* ---------- Min Width 320px  ------------------*/
@media (min-width: 320px) {
	body {
		width: 100%;
	}

	header {
			width: 100%;
			background-size: cover;
			}
	.desktop-menu {
		display: none;
	}

	.logo {
			width: 4.5em;
			height: 4.5em;
		 float: none;
	   margin: 0 auto;
	   position: relative;
}

	.ih-item.square {
		width: 90%;
		max-width: 420px;
		}


	.ih-item.square img {
			width: 100%;
			height: 216px;
			object-fit:cover;
		}

	.friendblurb {
		width: 90%;
		margin: 0 auto 10px;
	}

	.friendblurb h2 {
		margin: 0 auto;
		text-align: center;
	}
	.mainfigures {
		width: 75%;
	}
	.mainpagetext {
		flex-flow: row wrap;
	}
	.mainpagetext div{
		width: 90%;
    justify-content: space-evenly;
  	}
	.mieuxstories section {
			flex-flow: wrap;
		}
.mieuxstories section img {
			width: 100%;
		}
		h4 {
			width: 95%;
			display: block;
			text-align: center;
			font-weight: bold;
			background-color: #abb6a8;
		}

		.textblurbs {
			width: 100%;
			padding: .5rem;
			background: rgba(193, 66, 66, 0.3);
			height: fit-content;
			border-radius: 20px;
			margin: 10px .5em;
			flex-grow: 1;
	    }
		.textblurbs h6{
			font-size: 1.4em;
			font-family: pacifico;
			text-align: center;
			color: #584247;
		}
		.mieuxstories img {
			width: 100%;
			order: -1;
			height: 30vh;
			object-fit: cover;
			object-position: 0px -117px;
			margin: 10px.5em;
		}
		.mieuxstories section img {
			height: 33vh;
		}
		.descriptions {
			display: inline-block;
		}
	}


/* ---------- Min Width 768px  ------------------*/
@media (min-width: 768px) {
	.ml1 {
	  font-size: 3.2rem;
	  width: 70%;
	 }
	 .menu {
		 width: 70%;
	   margin-left: 30%;
	 }
	 header {
		 background-position: 1px -103px;
	 }
	 .logo {
	 	height: 9em;
	 	width: 9em;
	 	position: absolute;
	 	float: left;
	 	margin-left: 1.5em;
	 }

	.ih-item.square {
		width: 28%;
		object-fit:cover;
 	}
.mieuxmug img {
		height: 512px;
    border-radius: 160px;
	}

	.mainpagetext div{
		width: 30%;
	}
	.mieuxstories section {
		flex-flow: nowrap;
	}
	.mieuxstories section img {
	 width: 30%;
	 margin-right: 2rem;
 }

	.textblurbs {
		width: 31%;
		padding: .5rem;
		background: rgba(193, 66, 66, 0.3);
		height: fit-content;
		border-radius: 20px;
		margin: 10px .5em;
		flex-grow: 1;
		}
	.textblurbs h6{
		font-size: 1.4em;
		}
	.mieuxstories img {
		order:0;
		width: 27%;
    height: 35vh;
    object-fit: cover;
    margin: 10px.5em;
		box-shadow: rgba(25, 8, 8, 0.5) 0px 16px 5px;
		object-position: -2px -8px;
	}
	.mieuxstories section img {
		height: 100%;
	}
	.mieuxstories section .even {
		order: 1;
		margin-left: 2rem;
		margin-right: 0;
	}


	.mieuxmug, .mieuxmug img {
	height: 512px;
	width: 90%;
}

/* -------- https://designshack.net/articles/css/joshuajohnson-2/  ------------- */

.mieuxstories img {
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}

.mieuxstories img:hover {
  border-radius: 25%;
  -webkit-transform: rotate(360deg);
     -moz-transform: rotate(360deg);
       -o-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}


/* ---------- Min Width 1000px  ------------------*/
@media (min-width: 1000px) {
	body {
		width: 80%;
		max-width: 1200px;
		margin: 0 auto;
	}
	.ml1 {
	  font-size: 3.2rem;
	  width: 60%;
	 }
	 .menu, .hamburger, .cross {
		 display: none;
	 }
	 .desktop-menu {
		 display: flex;
		 justify-content: space-evenly;
		 transition: .2s;
		 background-color: #9e4040;
		}
		.desktop-menu li {
			display:inline-flex;
			width: 20%;}

	  header {
		 background-position: 1px -152px;
	 }
	 .ih-item.square {
		 width: 30%;
	 }
	 .mainfigures {
		 width: 60%;
	 }
	.mieuxmug, .mieuxmug img {
		height: 512px;
		 width: 95%;
		 border-radius: 0;
		 object-fit: cover;
		 margin: 2px 0;
		 }

	 .mieuxstories section img {
		 width: 20%;
		 margin-right: 2rem;
	 }

}
